extends Layout

block content
  h1= title

  if bookinstance.length
    ul
      each val in bookinstance
        li
          a(href=val.urlFormatted) #{val.book.title} : #{val.imprint} -&nbsp;
          if val.status=='Available'
            span.text-success #{val.status}
          else if val.status=='Maintenance'
            span.text-danger #{val.status}
          else
            span.text-warning #{val.status}
          if val.status!='Available'
            span  (Due: #{val.due_back_formatted} )

  else
    p There are no book copies in this library.